.header {
    width: 100%;
    height: 100px;
    background-color: #16B9E5;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
}

.section {
    background-color: #F9F9F9;
    margin: 50px 0;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding-left: 50px;
    padding-bottom: 50px;
}

.tab-section {
    width: 30%;
    float: left;

}

.heading {
    color: #16B9E5;
}

.tab {
    background-color: #16B9E5;
    padding-left: 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    color: #F9F9F9;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;

}

.tab1 {
    background-color: #F9F9F9;
    padding-left: 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    color: #16B9E5;
    border: 1px solid #16B9E5;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}

.discription {
    width: 400px;
    float: right;
    margin-top: 100px;
    font-size: 13px;
    background: #F9F9F9;
    border: 1px solid #16B9E5;
    border-radius: 10px;
    padding: 10px;
}

.text {
    font-size: 18px;
    margin: 0 5px;
}

.ellipse {
    color: #F9F9F9;
    border-radius: 50%;
    padding: 8px;
    border-color: #16B9E5;
    background-color: #16B9E5;
}

.qw-pagination{
    text-align: center;
}

.rectancle {
    margin-left: 550px;
    padding: 5px 15px;
    width: 50px;
    height: 50px;
    background: #16B9E5;
}

.number {
    text-align: center;
    color: #F9F9F9;
    font-size: 20px;
    line-height: 42px;
    width: 21px;
    height: 42px;
}

.section1 {
    min-height: 390px;
    margin-top: 50px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.subheading {
    width: 340px;
    height: 21px;
    margin-top: 50px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.ellipse2 {
    width: 133px;
    border-radius: 50%;
    height: 133px;
    margin-left: 110px;
    margin-right: 25px;
    background: #FFFFFF;
    border: 6px solid #16B9E5;
    box-sizing: border-box;
    text-align: center;
}

.value {
    height: 21px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.line {
    width: 300px;
    height: 0px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #E0E0E0;
}

.comment {
    width: 221px;
    height: 28px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #898989;
}

.price {
    width: 60px;
    height: 20px;
    float: right;
    text-align: center;
    background: #16B9E5;
    border-radius: 5px;
}

.button {
    width: 202px;
    height: 49px;
    margin-left: 900px;
    margin-bottom: 500px;
    color: #F9F9F9;
    font-size: 18px;
    text-align: center;
    background: #16B9E5;
    box-shadow: 0px 4px 4px #98E2F5;
    border-radius: 30px;
}

body {
    margin: 0px;
}

.section-content{
    height: 400px;
}

.label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #16B9E5;
   }
   .inputBox{
    width: 429px;
    height: 56px;
    margin-top: 70px;
    background: #FFFFFF;
    border: 1px solid #16B9E5;
    box-sizing: border-box;
    border-radius: 5px;
   }
   .span_input{
      padding-left: 20px;

       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       font-size: 24px;
       line-height: 28px;

       color: #D5D5D5;
   }

   .form1{
       text-align: center;
   }

   .p-80{
        padding-top: 80px;
   }

   .custom-select{
        text-align: center;
        width: 200px;
    }
    .label2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #16B9E5;
    }
    .head{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #16B9E5;
        margin-bottom:20px;
        
    }
    /* .vector1{
        Width:50px;
        Height:50px;
        background: #16B9E5; */
    
    .tab2{
        text-align: center;
        background-color: #16B9E5;              
        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 15px;
        color: #F9F9F9;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        width: 200px;              
        margin-left: 40px;
    }